<div id="home">

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <div class="jumbotron">
          <h1 class="header">IntoxiRated</h1>
          <p class="lead">For the inner connoisseur in us all. Rate and track beverages of your choice and drink
            responsibly. </p>
        </div> --}}
        <form class="clearfix mb-4" action="GET">
          <label for="drinkCategory">Search by beverage type:</label>
          <select name="drinkCategory" id="drinkCategorySelect">
            <option value="Wine">Wine</option>
            <option value="Beer">Beer</option>
            <option value="Rum">Rum</option>
            <option value="Vodka">Vodka</option>
            <option value="Vodka">Tequila</option>
            <option value="Whiskey">Whiskey</option>
            <option value="Scotch">Scotch</option>
            <option value="Gin">Gin</option>
          </select>

        
          <div class="form-group">
            <input type="text" id="name" class="form-control" aria-describedby="example-text" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" id="style" class="form-control" aria-describedby="example-text" placeholder="Style">
          </div>
          <div class="form-group">
            <input type="text" id="manf-brew-dist" class="form-control" aria-describedby="example-text"
              placeholder="Manufacturer/Brewer/Distillery">
          </div>
          <button id="submit" class="btn btn-primary float-right">Search</button>
          <button id="addBeverage" class="btn btn-primary float-left">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
  <h1>Search Results:</h1>
  <div id="results"></div>
</div>

<div id="wantToAdd">
  What you searched for is not in our database. Would you like to add it?
  <button id="anotherAdd">Add Rating</button>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>




<script src="/js/whiskeyFrontEnd.js"></script>
<script src="/js/beerFrontEnd.js"></script>
<script src="/js/wineFrontEnd.js"></script>