<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Ratings</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <div style="position:absolute; right:0;">
      <a class="navbar-brand" href="/logout">Log Out</a>
    </div>

  </nav>

  <div class="container" id="myratings">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">

      {{!-- put active in input tag to show pre-pressed button. --}}
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option1"> View my current ratings
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Rate Beers
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3"> Rate Wines
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3"> Rate Whiskeys
      </label>
    </div>
    <hr>
    {{!=================Search form ===================}}
    <div class="form-group">
      <label for="drinkCategorySelect">Search within current ratings: </label>
      <select class="form-control" name="drinkCategory" id="drinkCategorySelect">
        <option value="Wine">Wine</option>
        <option value="Beer">Beer</option>
        <option value="Whiskey">Whiskey</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" id="name" class="form-control" aria-describedby="example-text" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" id="style" class="form-control" aria-describedby="example-text" placeholder="Style">
    </div>
    <div class="form-group">
      <input type="text" id="manf-brew-dist" class="form-control" aria-describedby="example-text"
        placeholder="Manufacturer/Brewer/Distillery">
    </div>
    <button id="submit" class="btn btn-primary float-right">Search</button>

    <hr>
    <div id="wantToAdd" style="display: none">
      What you searched for is not in our database. Would you like to add it?
      <button id="anotherAdd" data-toggle="modal" data-target="#rate">Add Rating</button>
    </div>
    <br>
    {{!-- Results TABLE  from search will display here --}}
    <div id="results" style="display: none">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Style</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody class="results-table" id="results-table">

        </tbody>
      </table>

    </div>

    {{!================== Add my Ratings modal window  ===================}}
    <div class="modal fade modal-dialog-scrollable" id="rate" data-backdrop="static" data-keyboard="false" tabindex="-1"
      role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rate-label">Add my new rating</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="add-category">Category </label>
              <select class="form-control" name="drinkCategory" id="add-category">
                <option value="Wine">Wine</option>
                <option value="Beer">Beer</option>
                <option value="Whiskey">Whiskey</option>
              </select>
            </div>
            <div class="form-group">
              <label for="add-name">Name </label>
              <input type="text" id="add-name" class="form-control" aria-describedby="example-text" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="add-style">Style </label>
              <input type="text" id="add-style" class="form-control" aria-describedby="example-text"
                placeholder="Style">
            </div>
            <div class="form-group">
              <label for="add-manf-brew-dist">Manufacturer/Brewer/Distillery </label>
              <input type="text" id="add-manf-brew-dis" class="form-control" aria-describedby="example-text"
                placeholder="Manufacturer/Brewer/Distillery">
            </div>

            {{!-- Ratings radio buttons --}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rating" id="add-rating" value="1">
              <label class="form-check-label" for="add-rating1">
                Hated it
              </label>
              <br>
              <input class="form-check-input" type="radio" name="rating" id="add-rating" value="2">
              <label class="form-check-label" for="add-rating2">
                Will drink if stranded on an island
              </label>
              <br>
              <input class="form-check-input" type="radio" name="rating" id="add-rating" value="3">
              <label class="form-check-label" for="add-rating3">
                Average
              </label>
              <br>
              <input class="form-check-input" type="radio" name="rating" id="add-rating" value="4">
              <label class="form-check-label" for="add-rating4">
                Pretty good
              </label>
              <br>
              <input class="form-check-input" type="radio" name="rating" id="add-rating" value="5">
              <label class="form-check-label" for="add-rating5">
                Exquisite
              </label>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit-rating" id="submit-rating">Submit Rating</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bb6539ba94.js" crossorigin="anonymous"></script>
  <script>

    //======= When user searches for a beverage within their profile (my ratings page), 
    //=======the request must send this data to api routes and query the sql db.
    $("#submit").on("click", function (event) {
      event.preventDefault();
      //==== hide options to add a new rating until we get a response back
      $("#wantToAdd").hide();
      $("#results").show();
      var drinkSearch = {
        category: $("#drinkCategorySelect option:selected").val(),
        name: $("#name").val(),
        manufacturer: $("#manf-brew-dist").val(),
        style: $("#style").val(),
        rating: $("#rating").val()
      }
      $.ajax({
        method: "GET",
        dataType: "JSON",
        url: "/api/search",
        data: drinkSearch,
        //===== this xhrFields is the key to sending user credentials over routes
        xhrFields: {
          withCredentials: true
        }
      }).then(function (res) {
        console.log("The result from SQL is: ");
        console.log(res);
        // empty out the results div
        $("#results-table").empty();
        // ==== if user isn't logged in, redirect to home page
        if (res.isUserLoggedIn === false) {
          $(location).attr('href', '/');
        } else {
          // if user is logged in, display data if sql results have data, otherwise show add ratings button
          console.log("Search results have data and it will display on screen");
          // If sql contains data, display, else show the want to add your record link.
          if (res != null && res != '' && res != []) {
            $("#results").show();
            // ADD CODE TO LOOP THROUGH ARRAY AND DISPLAY RESULTS
            for (var i = 0; i < res.length; i++) {
              var row = `<tr>
                        <td>${i + 1}</td>
                        <td>${res[i].category}</td>
                        <td>${res[i].name}</td>
                        <td>${res[i].manufacturer}</td>
                        <td>${res[i].style}</td>
                        <td>${res[i].rating}</td>
                      </tr>`
              $("#results-table").append(row);
            }
          }
          else {
            $("#wantToAdd").show();
          }
        }
      });
    });


    // ======== When user submits NEW RATING / ADD NEW RECORD AND RATING
    // ========= Send to SQL db.
    $("#submit-rating").on("click", function (event) {
      event.preventDefault();
      var addNewRating = {
        category: $("#add-category option:selected").val(),
        name: $("#add-name").val(),
        manufacturer: $("#add-manf-brew-dist").val(),
        style: $("#add-style").val(),
        rating: $("input:radio[name='rating']:checked").val()
      }
      console.log(addNewRating);
      $.ajax({
        type: "POST",
        url: "/api/rate",
        data: addNewRating,
        xhrFields: {
          withCredentials: true
        }
      }).then(function (res) {
        console.log(res)
      });

    });
  </script>
</body>

</html>